# Python
venv/
__pycache__/
*.pyc

# Environment variables
.env

# Firebase Secret Key
serviceAccountKey.json

# Model files
*.pth

# Node modules
node_modules/

# React build files
build/
dist/

# VS Code
.vscode/

# System files
.DS_Store
Thumbs.db